*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body{
    font-family: "Roboto mono", monospace;
}


html{
    font-size: 62.5%;
}


